.main {
	margin-top: 4.25rem;
	max-width: 47rem;
	width: 100%;
	padding: 0.5rem 1rem;
	align-self: center;
}

.header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 4.25rem;
	padding: 1.5rem;
	background-color: var(--primary);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.aside {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	max-width: 4.75rem;
	width: 100%;
	align-items: center;
	padding: 0.5rem 0;
	background-color: var(--primary);
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
}

.nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
}

.link {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3.75rem;
	width: 3.75rem;
	color: #4d4d4d;
	border-radius: 0.75rem;
}

.cart {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3.75rem;
	width: 3.75rem;
	border-radius: 50%;
	color: #949ba4;
}

.aside svg,
.cart svg {
	width: 1.75rem;
	height: 1.75rem;
}

.cart:hover {
	color: white;
}

.link:hover {
	color: #dcdee0;
	background-color: #37383d;
}

.active {
	color: #f1f1f1;
}

.active:hover {
	color: #f1f1f1;
	background-color: #404247;
}
