.container {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.main {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.slot {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 1rem 4rem;
	/* flex-grow: 1;
	 */
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3.75rem;
	padding: 1rem;

	/* max-height: 3.75rem;
	height: 100%; */
}

.aside {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	max-width: 4.75rem;
	width: 100%;
	align-items: center;
}

.nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
}

.link {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3.75rem;
	width: 3.75rem;
}
